/* general styles */
.container{
    width: 2100px;
    background-color: rgb(248, 246, 246);
    margin: auto;
}
body{
    margin: 0; 
}
ul{
    display: flex;
}
/* header styles */
header{
   background-color: white;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header nav{
    display: inline-block;
}