/* START GENERAL STYLE */
body{
    background-color: rgb(238, 250, 246);

    margin: 0;   
}
a,p,span {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black;
}
ul{
    list-style-type: none;
    /* display: flex; */
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}

/* START HEADER */
.container{
    width: 100%;
    height: 88px;
    background-color: #fff;
    margin: 0 auto;
}
.container #header{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    align-items: center;
}
header nav {
    display: inline-block;
}

header nav li {
    position: relative;
}
/* START MENU P1 */
#header nav>ul>li{
    margin-left: 10px;
    /* margin-right: 23px; */
}
#header nav>ul>li>a{
    padding: 8px;
    font-size:10 ;
}
#header nav>ul>li>a:hover{
    color: #8490ff;
}
#header nav>ul>li>a:focus{
    color: #8490ff;
}
/* START MENU PART2 */
#header nav>ul>li>ul{
    background-color: rgb(8, 191, 242);

    position: absolute;
    top: calc(9% + 18px);
    right: 0px;
    width: max-content;
    padding: 0 8px 0 8px;
    display: none;
}
#header nav>ul>li:hover>ul{
    display: block;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}
#header nav>ul>li>ul>li{
    display: flex;
}
#header nav>ul>li>ul>li>a{
    padding: 10px 7px;
    padding-right: 100px;
}
/* MENU PART3 */

